#root {
  max-width: 100%;
  margin: auto;
  text-align: left;
}

.home{
    background-image: url(/assets/bgTrait.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;

} 